.restaurant-item-container {
  padding: 1rem;
}

h2 {
  padding: 0;
  margin: 0;
}

.restaurant-name {
  /* font-size: 1.8rem;
  font-weight: 700; */
  color: #2c3e50;
  margin-bottom: 0.5rem;
  /* text-align: center; */
}

.menu-heading {
  font-size: 1.4rem;
  color: #34495e;
  margin-bottom: 1rem;
  text-align: center;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* Responsive styles */
@media (min-width: 600px) {
  .restaurant-name {
    /* font-size: 2.2rem; */
  }

  .menu-heading {
    font-size: 1.6rem;
  }
}

@media (min-width: 900px) {
  .restaurant-item-container {
    width: 900px;
    background: #e7e7e7;
  }

  .category-list {
    gap: 2rem;
  }
}
